<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Security configuration example</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <p th:text="${message}" />
  <p>
    <a href="/secure/">Secure area</a> (user: user, password: password)
  </p>
  <p>
    <a href="/admin/">Admin area</a> (user: admin, password: admin)
  </p>
  <form th:action="@{/logout}" method="post">
    <p><input type="submit" value="Logout" /></p>
  </form>
</body>
</html>